@model IEnumerable<LucasMuellerOpet.Models.Manufacturer>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listagem de FABRICANTES";
}
3.3 ADAPTANDO AS VISÕES PARA O USO DO BOOTSTRAP 65
<div class="panel panel-primary">
    <div class="panel-heading">
        Relação de FABRICANTES registrados
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ManufacturerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem=> item.ManufacturerId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=> item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Alterar","Edit", new{id =item.ManufacturerId}) |
                            @Html.ActionLink("Detalhes","Details", new{id =item.ManufacturerId}) |
                            @Html.ActionLink("Eliminar","Delete", new{id =item.ManufacturerId})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer panel-info">
        66 3.3 ADAPTANDO AS VISÕES PARA O USO DO BOOTSTRAP
        @Html.ActionLink("Registrar um novo FABRICANTE","Create", null, new{
        @class ="btn btn-success"})
    </div>
</div>
@section styles{
    <link href="@Url.Content("~/content/DataTables/css/dataTables.bootstrap.css")" rel="stylesheet"/>
}


@section ScriptPage {
<script src=" @Url.Content("~/scripts/DataTables/jquery. dataTables.js")" ></script>
    <script src="@Url.Content("~/scripts/DataTables/dataTables.bootstrap.js")"></script>
    <script type="text/javascript">
$(document).ready(function () {
$('.table').dataTable();
});
    </script>
}